* {
    margin: 0;
    padding: 0; 
}

html,body {
    /*     border: 2px solid red;  */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
}

/* body {
   position: relative; 
   } */

/* body {
   border: 2px solid blue; 
   } */

#logo {
    display: block;
    width: 272px; /* Width of official logo */
    height: 92px; /* Height of official logo */
    margin: 0 auto; 
}

.text-input {
    display: block; 
    margin: 0 auto;
    padding: 12px; 
    width: 40%;
    margin-top: 25px; 
    font-size: 14px; 
    background-color: white; 
    border: .1px solid #D8D8D8; 
    box-shadow: 0 0 0 #D8D8D8, 0 2px 2px #D8D8D8; 
}

.text-input:hover, .text-input:focus{
    transition: .2s all;
    box-shadow: 0 0 1px #D8D8D8, -2px 0 3px #D8D8D8, 2px 3px 5px #D8D8D8;  
    border: .1px solid #D6D6D6;
}

.buttons {
    box-sizing: border-box;
    margin-top: 25px; 
    text-align: center; 
}

.text-input {
    transition: .2s all;
}

.button {
    font: bold 13px "Noto Sans", sans-serif; 
    color: #7A7A7A;
    padding: 7px 20px;
    margin: 0 2px; 
    background-color: #EFEFEF;
    border: none;
    border: 1px solid transparent; 
}

.button:hover{
    background-color: #F4F4F4;
    border: 1px solid #A3A3A3;
    color: #515151;
}


.top-nav {
    /*     border: 10px solid green; */
    list-style-type: none;
    margin-top: 3px;;
    padding: 14px; 
}

/* li elements inside top-nav class */
.top-nav li {
    font: 12px sans-serif;
    /* color: #3D3D3D; */
    /*     display: inline-block */
    box-sizing: border-box; 
    height: 30px; 
    padding: 8px;
    padding-top: 10px;
    float: right; 
    margin: 0 5px; 
    /*     border: 2px solid gray; */
    text-align: center; 
}

#apps {
    /*     padding: 10px; */
    height: 25px;
    width: 25px;
    /* margin: auto; */
    margin-top: 2.5px;
    margin-right: 10px;
    margin-left: 10px;
    background: url('https://ssl.gstatic.com/gb/images/i1_1967ca6a.png');
    background-position: -145px -43px;
    background-size: 2200%;
    opacity: 0.7;
}

#notifs {
    width: 30px;
    border: 5px solid white;
    background: gray;
    border-radius: 100%;
    /* background: url('https://ssl.gstatic.com/gb/images/i1_1967ca6a.png') 0 0; */
    padding: 0px; 
} 

#bell {
    margin: auto;
    margin-top: 2.5px; 
    box-sizing: border-box;
    /*     border: 2px solid orange; */
    height: 20px;
    width: 20px;
    background: url('https://ssl.gstatic.com/gb/images/i1_1967ca6a.png') -189px -18px;
    background-size: 1300%; 
}

#sign-in {
    font-weight: bold;
    color: white; 
    background: #1B8CFC;
    border: none; 
    padding: 10px 12px 8px 12px;
}

#clear {
    float: none; 
    clear: both; 
    height: 0;
    margin: 0;
    padding: 0; 
    /*     border: 2px solid green;  */
}

a {
    text-decoration: none; 
    color: #3D3D3D;
}

a:hover {
    text-decoration: underline; 
}

a:visited {
    color: #3D3D3D;
    text-decoration: none; 
}

.search-block {
    /*     border: 10px solid orange;  */
    position: relative;
    top: 20%;
}

.footer {   
    list-style-type: none; 
    box-sizing: border-box; 
    /*     border: 10px solid gray;  */
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #F0EFEF;
    padding: 11px 22px;
    border-top: 1px solid #DCDADA; 
    /*     top: 60%;  */
}

/* li elements inside footer class */
.footer li {
    font: 12px sans-serif;
    display: inline; 
}

.left-footer {
    float: left;
}

.left-footer li {
    margin: 0 12px;
    color: #515151;
}

.right-footer {
    float: right;
}

.right-footer li {
    margin: 0 12px;
    color: #515151;
}



