* {
    margin: 0;
    padding: 0; 
}

.out-wrapper {
    box-sizing: border-box; 
    display: table; 
    position: absolute; 
    height: 100%;
    width: 100%;
    border: 2px solid green;

}

.in-wrapper {
    display: table-cell; 
    vertical-align: middle; 
    border: 2px solid green;

}

img {
    display: block; 
    margin: 0 auto; 
}

.text-input {
    display: block; 
    margin: 0 auto;
    padding: 12px; 
    width: 35%;
    margin-top: 25px; 
    font-size: 14px; 
    background-color: white; 
    border: .1px solid #D8D8D8; 
    box-shadow: 0 0 0 #D8D8D8, 0 2px 2px #D8D8D8; 
}

.text-input:hover{
    transition: .2s all;
    box-shadow: 0 0 1px #D8D8D8, -2px 0 3px #D8D8D8, 2px 3px 5px #D8D8D8;  
    border: .1px solid #D6D6D6;
}

.buttons {
    box-sizing: border-box;
    margin-top: 25px; 
    border: 1px solid red; 
    text-align: center; 
}

.text-input {
    transition: .2s all;
}

.button {
    font: bold 13px "Noto Sans", sans-serif; 
    color: #7A7A7A;
    padding: 7px 20px;
    margin: 0 2px; 
    background-color: #EFEFEF;
    border: none;
    border: 1px solid transparent; 
}

.button:hover{
    background-color: #F4F4F4;
    border: 1px solid #A3A3A3;
    color: #515151;
}



